.container {
  width: 250px;
  border-radius: 5px;
  display: flex;
  border: 1px solid lightgray;
  background: rgba(255, 255, 255, 0.05);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  margin-bottom: 10px;
  transition: 200ms;
  align-items: center;
  padding: 5px;
}

.container:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 30px rgba(0, 0, 255, 0.2);
}

.content {
  margin: 0;
  color: #fff;
  transition: 200ms;
  padding-left: 5px;
}