.card {
  --width: 10vw;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: 200ms;
  overflow: hidden;
  position: relative;
}

.card:hover {
  transform: translateY(10px);
}

.card {
  opacity: 0.8;
}

.link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

@media(max-width: 428px){
  .card{
    transform: scale(0.7);
  }
}