.card {
  --width: 10vw;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: 200ms;
  overflow: hidden;
  position: relative;
}

.card:before {
  content: '';
  position: absolute;
  width: 20%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  filter: blur(0px);
  transition: 400ms;
  transform: skewX(45deg) translateX(calc(var(--width) + 180%));
}

.card:hover {
  transform: translateY(10px);
}

.card:hover:before {
  transform: skewX(45deg) translateX(calc(var(--width) * -1 - 200%));
}

.card {
  opacity: 0.8;
}

.link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

@media(max-width: 428px){
  .card{
    transform: scale(0.7);
  }
}