.textAreaContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5px;
}

.textAreaLabel {
  color: #fff;
}

.textArea{
  border: none;
  border-radius: 5px;
  width: 250px;
  padding: 5px;
}

.textAreaError{
  border: 2px solid red;
  border-radius: 5px;
  width: 250px;
  padding: 5px;
}

.errorMessage{
  color: red;
  font-size: small;
  margin: 1px;
}